@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 288 52% 13%;
    --foreground: 60 9.1% 97.8%;

    --card: 288 52% 13%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 288 52% 13%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 307 32% 44%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 307 32% 44%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 307 32% 44%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 307 32% 44%;
    --input: 307 32% 44%;
    --ring: 307 32% 44%;

    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  @apply w-[0.3rem];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#ffffff39] w-[0.1rem] rounded-2xl;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
